.type{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto; 
    padding-left: 30px ;
    padding: 10px auto; 
}

.box{
    padding: 1px;
    flex: 1 1 10%;
}
 